@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700&display=swap');

/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

strong,
b {
  font-weight: bold;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-moz-selection {
  background: rgba(255, 217, 16, 0.6);
  color: #192330;
}

*::selection {
  background: rgba(255, 217, 16, 0.6);
  color: #192330;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #535b65;
  line-height: 1.5;
  font-size: 18px;
  font-family: 'Roboto Condensed', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
}

.hide {
  display: none;
}

button,
input[type='button'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost', sans-serif;
  font-weight: 600;
  line-height: 0.85em;
  letter-spacing: 0;
}

/* Preloader Styles */
body {
  overflow: hidden;
}

body.page-loaded {
  overflow: auto;
  overflow-x: hidden;
}

body.page-loaded .preloader-cover {
  -webkit-transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
  transition: 0.8s cubic-bezier(0.65, 0.05, 0.36, 1) 0.3s;
  opacity: 0;
  pointer-events: none;
}

.home-dark .preloader-cover {
  background-color: #161616;
}

.preloader-cover {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 1;
}

/* Loader Animations */
@-webkit-keyframes loader {
  0%,
  10%,
  100% {
    width: 80px;
    height: 80px;
  }

  65% {
    width: 150px;
    height: 150px;
  }
}

@keyframes loader {
  0%,
  10%,
  100% {
    width: 80px;
    height: 80px;
  }

  65% {
    width: 150px;
    height: 150px;
  }
}

@-webkit-keyframes loaderBlock {
  0%,
  30% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  55% {
    background-color: #ffd910;
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loaderBlock {
  0%,
  30% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  55% {
    background-color: #ffd910;
  }

  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes loaderBlockInverse {
  0%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  55% {
    background-color: #ffd910;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

@keyframes loaderBlockInverse {
  0%,
  20% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  55% {
    background-color: #ffd910;
  }

  100% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
  -webkit-animation: loader 1.2s infinite ease-in-out;
  animation: loader 1.2s infinite ease-in-out;
}

.preloader span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffd910;
  -webkit-animation: loaderBlock 1.2s infinite ease-in-out both;
  animation: loaderBlock 1.2s infinite ease-in-out both;
}

.preloader span:nth-child(1) {
  top: 0;
  left: 0;
}

.preloader span:nth-child(2) {
  top: 0;
  right: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.preloader span:nth-child(3) {
  bottom: 0;
  left: 0;
  -webkit-animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  animation: loaderBlockInverse 1.2s infinite ease-in-out both;
}

.preloader span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
