

.ant-card-cover {
    justify-content: center;
    display: flex;
}

.brands .ant-checkbox-wrapper {
    width: 100%;
    padding: 4px 0px;
}

.full-height {
    min-height: '100vh';
}

.main-content {
    margin: auto;
    min-height: 100vh;
    background-color: #fff;
    display:flex;
    padding-top: 100px;
    max-width: 1080px;
    margin: auto;
    box-sizing: border-box;

}

.ant-descriptions-title {
    white-space: pre-wrap!important;
}

.ant-menu-item {
    padding-left: 24px !important;
}

.r-comp .ant-input, .r-comp .ant-btn-default {
    border-radius: 0px !important;
}
.r-comp .ant-select-selector {
    border-radius: 6px 0px 0px 6px;
}

/* .r-comp {
    outline: 2px solid red;
} */
