.mainContent {
    max-width: 1170px;
    margin: auto;
    background: #fff;
    min-height: 100vh;
    display: flex;
}

.summaryNav {
    width: 280px;
}

@media only screen and (max-width: 600px) {
    .mainContent {
        flex-direction: column;
    }
    .summaryNav {
        width: 100%;
    }
}
